/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 63vh;
    margin: 0;

}


.container {
    text-align: center;
    background: #ffffff;
    padding: 8vh;
    border-radius: 10px;

}

.container input[type="number"] {
    width: 9vh;
    padding: 8px;
    text-align: center;
    margin-bottom: 0.5rem;
    border: 0.1px solid #cccccc60;
    border-radius: 6px;
   
}


.container label[for="workTimeValue"] {
    font-size: 1rem;
}

.container label[for="breakTimeValue"] {
    font-size: 1rem;
}

.container label[for="longBreakTimeValue"] {
    font-size: 1rem;
}

hr {
    margin-bottom: 5vh;
}

.timer {
    font-size: 2.5rem;
    color: #000000;
}

.functionality {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    width: 100px;
    height: 40px;
    color: white;
    border: none;
    padding: 0.25rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#reset {
    background-color: #ffb62f;
    color:#333;
}

button#reset:hover {
    background-color: #eb9800;
}

button#toggle.paused {
    background-color: rgb(11, 170, 11);
}

button#toggle.paused:hover {
    background-color: rgb(0, 148, 0);
}

button#toggle.started {
    background-color: red;
}

button#toggle.started:hover {
    background-color: rgb(216, 3, 3);
}


/* Pomodoro rounds and break display */
.rounds {
    margin-top: 0rem;
    font-size: 1rem;
}

.rounds span {
    font-weight: bold;
    color: #555;
}

.rounds .value {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-left: 0.5rem;
}

.rounds .break {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #777;
}

.rounds2 {
    margin-top: 0.2rem;
    font-size: 1rem;
}

.rounds2 span {
    font-weight: bold;
    color: #555;
}

.rounds2 .value {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-left: 0.5rem;
}

.rounds2 .break {
    margin-top: 0rem;
    font-size: 1rem;
    color: #777;
}

.break {
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1rem;

}

.break {
    font-size: 1rem;
}